body {
    background-image: url('./images/background.jpg');
    /* background-color: rgb(107, 177, 238); */
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
    
}

/* styling heading and deading elements.. */
/* #heading { */
    /* position: fixed; */
    /* z-index: 2; */
/* } */
#h1 {
    font-size: 6rem;
    text-shadow: 8px 8px 16px rgba(7, 7, 7, 0.7);
    margin-bottom: 0px;
    margin-top: 2%;
}
#h2 {
    font-size: 2rem;
    text-shadow: 4px 4px 8px rgba(7, 7, 7, 0.7);
    margin-bottom: 0px;
}
#paragraph {
    font-size: 2rem;
    text-shadow: 4px 4px 8px rgba(7, 7, 7, 0.7);
    margin-top: 0px;
    margin-bottom: 2%;
}


/* styling button */
#button {
    display: flex;
    justify-content: center;
}
.category-button {
    color: white;
    /* background-color: transparent; */
    cursor: pointer;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    margin-left: 3%;
    background-color: rgb(41, 41, 153);
    border-radius: 0.5rem;
    box-shadow: 4px 4px 8px rgba(7, 7, 7, 0.7);
    padding: 0.5rem;
    text-decoration: none;
}
.category-button:hover {
    background-color: rgba(146, 235, 13, 0.627);
}



/* styles for gallery content */
.container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-auto-flow: dense; */
    gap: 10px;
    /* background-color: aliceblue; */
}

img {
    height: 100%;
    width: 100%;
    border-radius: 2%;
    transition: filter 0.01s ease;
}
.blur {
    filter: blur(5px); 
  }
