body {
    background-image: url('./images/background.jpg');
    /* background-color: rgb(107, 177, 238); */
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
    
}

/* styling heading.. */
#title {
    position: fixed;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 3rem;
    background-color: black;
    box-shadow: 4px 4px 8px rgba(7, 7, 7, 0.9);
}
#h1 {
    font-size: 4rem;
    margin: 0;
}


/* styling button */
#button-container {
    position: fixed;
    width: 100%;
    top: 14%;
    z-index: 999;
}
#button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-basis: auto;
}
.category-button {
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    margin-right: 3%;
    margin-top: 1%;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 8px rgba(7, 7, 7, 0.9);
    padding: 0.5rem;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
}
.category-button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}



/* styles for gallery content */
.container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 10px;
    }
}
@media (max-width: 548px) {
    .container {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        gap: 10px;
    }
    #h1 {
        font-size: 3.5rem;
        text-shadow: 8px 8px 16px rgba(7, 7, 7, 0.7);
    }
    #paragraph {
        font-size: 1rem;
        text-shadow: 2px 2px 4px rgba(7, 7, 7, 0.7);
    }
}

img {
    height: 100%;
    width: 100%;
    border-radius: 4%;
    transition: filter 0.01s ease;
    border: 2px solid black;
}
.blur {
    filter: blur(5px); 
  }
